.mainpage-page{
    background-color: lightgray;    
    margin-top: -2rem;
    padding-bottom: 3rem;
    padding-top: 2rem;
    border-radius: none;
}

.add-todo-button{
    margin-left: 84%;
    width: 5rem;
    text-align: center;
}

.form-control{
    width:34.5rem;
}

.card-user-todo{
    width: 20rem;
    height: 100vh;
}


.card-todo-todo{
    border-radius: 50px;
    padding: 2rem;
    width: 40rem;
}

.card-container-todo{
    margin: 5rem 0;
    display: flex;
    width: 60rem;
    margin-left: 200px;
    padding:0rem;
    border-radius: 50px;
    background-color: white;
}

.todo-list-name-desc{
    text-align: left;
    margin-left: 4rem;
}

.todo-list-container{

    display: flex;
    border-top: 1px solid grey;
    margin-left: 1rem;
    padding: 0.5rem;
    width: 34rem;
}

.icon-checklist{
    color: grey;
    margin-top: 1.5rem;
    margin-left: 2rem;
}

.user-img{
    border-radius: 50%;
    height: 15%;
    margin: 5rem 4rem 2rem 6rem;
}

.todo-list-task{
    font-size: 30px;
    text-align: center;
    margin-top: 2rem;
    margin-left: -2rem;
}

.signout-button{
    margin-top: 4rem;
    width: 10rem;
    margin-left: 4rem;
    border-radius: 10px;
}

.user-list{
    border-bottom: 1px solid grey;
    width: 15rem;
    margin-left: 2rem;
    font-size: 25px;
    padding: 0.75rem 0rem;
    font-family: Arial, Helvetica, sans-serif;
}